html {
    box-sizing: border-box
}

*, 
*::before,
*::after { 
    box-sizing: inherit;
}
  
:root {
    font-size: 62.5%
}
  
body {
    background-color: #0f5f60;
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

main {
  justify-content: center;
  align-items: center;
  width: 400px;
  height: 600px;
  background: white;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 2fr 50px 1fr 1.4fr 1fr;
  grid-template-areas:
  "photo"
  "name"
  "rating"
  "price"
  "message"
}

.photo {
  background: white;
  text-align: center;
  grid-area: photo;
}

.photo p {
  font-size: 1.4rem;
  float: right;
  text-align: right;
  margin-right: 15px;
  margin-top: -15px;
  color: lightgray;
  text-transform: uppercase;
}

#profile-photo {
  margin: 10px 0 -12px 70px;
  width: 140px;
  height: 140px;
  object-fit: cover;
  border-radius: 50%;
  border: 3px solid #66d189;
}

.name {
  display: flex;
  grid-area: name;
  justify-content: center;
  margin-bottom: 10px;
  font-size: 2rem;
}

.rating {
  display: flex;
  height: 100%;
  flex-direction: column;
  background: rgb(240, 240, 240);
  font-size: 2.4rem;
  text-align: center;
  grid-area: rating;
}

.stars {
  color: #f7dd2e;
  margin-top: 15px;
  margin-bottom: -16px;
}

#star-outline {
  color: lightgray;
}

.rating p:first-child {
  font-weight: 200;
  margin: 10px 0 -15px 0;
}

.about {
  display:none;
}

.price {
  background: white;
  display: flex;
  flex-direction: column;
  text-align: center;
  grid-area: price;
}

.price h2 {
  font-size: 3rem;
  margin-bottom: 0;
}

.price p {
  font-size: 2.5rem;
  font-weight: 200;
  margin-top: -15px;
}

.message {
  display: flex;
  height: 100%;
  grid-area: message;
  font-size: 4rem;
}

.phone, 
.text {
  text-align: center;
  align-content: center;
  font-size: 6.5rem;
  width: 50%;
  color: white;
}

.phone {
  background:#66d189;
}

.text {
  background: #5abd7c;
}



@media only screen and (min-width: 1024px) {
  
  main {
    justify-content: center;
    align-items: center;
    width: 600px;
    height: 350px;
    background: white;
    display: grid;
    grid-template-columns: 2.5fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-areas:
    "photo name name name name"
    "photo rating rating rating rating"
    "photo about about about about"
    "message price price price price"
  }

  .photo {
    height: 100%;
    align-items: center;
  }

  #profile-photo {
    margin: 10px 0 10px 10px;
    width: 150px;
    height: 150px;
  }

  .photo p {
    display: flex;
    font-size: 1.4rem;
    float: left;
    margin: 15px;
    color: lightgray;
    text-transform: uppercase;
  }

  .name {
    justify-content: start;
    background: rgb(240, 240, 240);
    margin: 0 0;
  }

  .name h1 {
    margin-bottom: -.4rem;
    margin-left: 2rem;
  }

  .rating {
    text-align: left;
  }

  .rating p:last-child {
    margin-left: 2rem;
    margin-bottom: 5px;
  }

  .price {
    text-align: left;
    background:rgb(240, 240, 240);
  }

  .price h2 {
    font-size: 2rem;
    margin-left: 2rem;
  }

  .price p {
    font-size: 1rem;
  }

  .stars {
    padding-left: 20px;
  }

.about {
    display: flex;
    font-size: 1.8rem;
    grid-area: about;
    padding: 0;
    background:rgb(240, 240, 240);
}

.about p {
    margin-left: 10px;
}

.message {
    font-size: 5rem;
}

.vl {
    margin-top: 20px;
    margin-left: 20px;
    border-left: 3px solid #66d189;
    height: 65px;
}

.phone, 
.text {
    text-align: center;
    justify-items: center;
    margin-top: 0;
    font-size: 5rem;
    width: 50%;
}

}