html {
    box-sizing: border-box
}

*, 
*::before,
*::after { 
    box-sizing: inherit;
}
  
:root {
    font-size: 62.5%
}
  
body {
    align-items: center;
    background-color: #0f5f60;
    display: flex;
    font-family: 'Open Sans', sans-serif;
    justify-content: center;
    margin: 0;
    min-height: 100vh;
}

main {
  align-items: center;
  background: white;
  display: grid;
  height: 600px;
  justify-content: center;
  width: 400px;
  
  grid-template-columns: 1fr;
  grid-template-rows: 2fr 50px 1fr 1.4fr 1fr;
  grid-template-areas:
  "photo"
  "name"
  "rating"
  "price"
  "message"
}

.photo {
  background: white;
  grid-area: photo;
  text-align: center;
}

.photo p {
  color: lightgray;
  float: right;
  font-size: 1.4rem;
  margin-right: 1.5rem;
  margin-top: -1.5rem;
  text-align: right;
  text-transform: uppercase;
}

#profile-photo {
  border-radius: 50%;
  border: 3px solid #66d189;
  height: 140px;
  margin: 1rem 0 -1.2rem 7rem;
  object-fit: cover;
  width: 140px;
}

.name {
  display: flex;
  font-size: 2rem;
  grid-area: name;
  justify-content: center;
  margin-bottom: 1rem;
}

.rating {
  background: rgb(240, 240, 240);
  display: flex;
  flex-direction: column;
  font-size: 2.4rem;
  grid-area: rating;
  height: 100%;
  text-align: center;
}

.stars {
  color: #f7dd2e;
  margin-bottom: -1.6rem;
  margin-top: 1.5rem;
}

#star-outline {
  color: lightgray;
}

.rating p:first-child {
  font-weight: 200;
  margin: 1rem 0 -1.5rem 0;
}

.about {
  display: none;
}

.price {
  background: white;
  display: flex;
  flex-direction: column;
  grid-area: price;
  text-align: center;
}

.price h2 {
  font-size: 3rem;
  margin-bottom: -1rem;
}

.price p {
  font-size: 2.5rem;
  font-weight: 200;
  margin-top: -1.5rem;
}

.message {
  display: flex;
  font-size: 4rem;
  grid-area: message;
  height: 100%;
}

.phone, 
.text {
  align-content: center;
  color: white;
  font-size: 6.5rem;
  text-align: center;
  width: 50%;
}

.phone {
  background:#66d189;
}

.text {
  background: #5abd7c;
}

@media only screen and (min-width: 1024px) {
  
  main {
    align-items: center;
    background: white;
    display: grid;
    height: 350px;
    justify-content: center;
    width: 600px;

    grid-template-columns: 2.5fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-areas:
    "photo name name name name"
    "photo rating rating rating rating"
    "photo about about about about"
    "message price price price price"
  }

.photo {
    height: 100%;
    align-items: center;
}

#profile-photo {
    height: 150px;
    margin: 1rem 0 1rem 1rem;
    width: 150px;
}

.photo p {
    color: lightgray;
    display: flex;
    float: left;
    font-size: 1.4rem;
    margin: 1.5rem;
    text-transform: uppercase;
}

.name {
    background: rgb(240, 240, 240);
    justify-content: start;
    margin: 0 0;
}

.name h1 {
    margin-bottom: -.4rem;
    margin-left: 2rem;
}

.rating {
    text-align: left;
}

.rating p:last-child {
    margin-left: 2rem;
    margin-bottom: 5px;
}

.price {
    background:rgb(240, 240, 240);
    height: 100%;
    justify-content: center;
    text-align: left;
}

.price h2 {
    font-size: 1.5rem;
    margin-bottom: 0;
    margin-left: 2rem;
}

.price p {
    font-size: 1rem;
}

.stars {
    padding-left: 2rem;
}

.about {
    background:rgb(240, 240, 240);
    display: flex;
    font-size: 1.8rem;
    grid-area: about;
    padding: 0;
}

.about p {
    margin-left: 1rem;
}

.message {
    font-size: 5rem;
}

.vl {
    border-left: 3px solid #66d189;
    height: 6rem;
    margin-left: 2rem;
    margin-top: 2.5rem;
}

.phone, 
.text {
    font-size: 5rem;
    justify-items: center;
    margin-top: 0;
    text-align: center;
    width: 50%;
}

}